---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "San's Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My first blog posts</h2>
  <ul>
    <li><a href="/posts/posts-1/">Post 1</a></li>
    <li><a href="/posts/posts-2/">Post 2</a></li>
    <li><a href="/posts/posts-3/">Post 3</a></li>
  </ul>
</BaseLayout>
