---
const platform = "github";
const username = "withastro";
import Social from "./Social.astro";
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
<footer>
  <p>
    Learn more about my projects on:
    <Social platform="youtube" username="@mojahkhanyi" /> ||
    <Social platform="twitter" username="regencrypto" /> ||
    <Social platform="github" username="wunluv" />
  </p>
</footer>
